*  {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(239, 236, 227), rgb(235, 231, 219), rgb(239,236,227));
    padding: 20px;
}   

#main {
    margin: auto;
}    

.row,
.row > .container {
    padding: 8px;
}

.container {
    float: left;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

#title {
    color:rgb(98, 77, 7);
}

#tribute-info {
    color:rgb(108, 92, 40);
}

.timeline__year {
    color:rgb(146, 132, 82);
}

#img-caption {
    color:rgb(84, 74, 39);
}

#tribute-info, #title {
    padding: 10px;
    box-shadow: 5px 10px 10px #8d804d; 
}

.timeline__card, #img-div {
    padding: 10px;
    box-shadow: 15px 20px 25px #4b4a4a;
}

.timeline__card:hover {
    background:rgb(243, 239, 186);
} 

#image, .images {
    max-width: 100%;
    display: block;
}

#image {
    opacity: 0.8;
}

#img-div:hover {
    background:rgb(243, 239, 186);
} 

.timeline__details, .timeline__year, 
#img-caption, #tribute-link,
.credits, .credits-images {
    padding: 5px 10px 5px 10px;
}

.timeline__details, #img-caption, 
#tribute-link, .credits, 
.credits-images  {
    text-align: justify;
}   

.timeline__details, #img-caption {
    font-weight: bold;
}

.credits, .credits-images, #tribute-link {
    font-style: italic;
}

.timeline__year, #title, #tribute-info {
    text-align: center;
}

a:hover {
    color: rgb(206, 40, 10);
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
    #title {
        font-size: 18px;
    }
    #tribute-info {
        font-size: 15px;
    }
    .timeline__year {
        font-size: 13px;
    }
    .timeline__details, #tribute-link,
    .credits, .credits-images {
        font-size: 12px;
    }
}    

@media screen and (min-width: 400px) {
    .container {
        width: 50%;
    }
    #title {
        font-size: 21px;
    }
    #tribute-info {
        font-size: 18px;
    }
    .timeline__year {
        font-size: 16px;
    }
    .timeline__details, #tribute-link,
    .credits, .credits-images {
        font-size: 15px;
    }
}

@media screen and (min-width: 900px) {
    .container {
       width: 33%;
    }
    #title {
        font-size: 24px;
    }
    #tribute-info {
        font-size: 21px;
    }
    .timeline__year {
        font-size: 19px;
    }
    .timeline__details, #tribute-link,
    .credits, .credits-images {
        font-size: 18px;
    }
}

